

NET "d" LOC = M15 ;
NET "c" LOC = P17 ;
NET "b" LOC = R16;
NET "a" LOC = R15 ;
NET "clk" LOC = C9 ;
NET "reset" LOC = N17 ;
NET "e" LOC = M18 ;
NET "r_w" LOC = L17 ;
NET "rs" LOC = L18 ;
NET "sf_e" LOC = D16 ;


NET "count1[2]" LOC = F9 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "count1[1]" LOC = E9 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "count1[0]" LOC = D11 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "count2[4]" LOC = C11 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "count2[3]" LOC = F11 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "count2[2]" LOC = E11 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "count2[1]" LOC = E12 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "count2[0]" LOC = F12 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;

//NET "clk1" LOC = D18 ;
//NET "clk2" LOC = H13 ;
NET "clk1" IOSTANDARD = LVCMOS25;
NET "clk1" PULLDOWN;
NET "clk1" LOC = D18;
NET "clk2" IOSTANDARD = LVCMOS25;
NET "clk2" PULLDOWN;
NET "clk2" LOC = V4;

NET "en_aes" LOC = H18;
NET "en_inv_aes" LOC=L14;
NET "ps2c" LOC = G14;
NET "ps2d" LOC = G13;

NET "clk3" PULLDOWN;
NET "clk3" IOSTANDARD = LVCMOS25;
NET "clk3" LOC = K17;

NET "clk1" CLOCK_DEDICATED_ROUTE = FALSE;
NET "clk2" CLOCK_DEDICATED_ROUTE = FALSE;
NET "clk3" CLOCK_DEDICATED_ROUTE = FALSE;




# PlanAhead Generated IO constraints 

NET "en_aes" IOSTANDARD = LVCMOS25;
NET "ps2c" IOSTANDARD = LVCMOS25;
NET "ps2d" IOSTANDARD = LVCMOS25;
NET "reset" IOSTANDARD = LVCMOS25;
NET "sf_e" IOSTANDARD = LVCMOS25;
NET "rs" IOSTANDARD = LVCMOS25;
NET "r_w" IOSTANDARD = LVCMOS25;
NET "e" IOSTANDARD = LVCMOS25;
NET "d" IOSTANDARD = LVCMOS25;
NET "a" IOSTANDARD = LVCMOS25;
NET "b" IOSTANDARD = LVCMOS25;
NET "c" IOSTANDARD = LVCMOS25;
NET "clk" IOSTANDARD = LVCMOS25;
